/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2c2c2c;
    padding: 15px;
}

/* Contenedor del login */
.login-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Título */
.title-container h1 {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

/* Subtítulo */
.login-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Etiquetas */
.login-container label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
    color: #333;
}

/* Inputs */
.login-container input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: #f9f9f9;
    transition: all 0.3s ease-in-out;
}

.login-container input:focus {
    border-color: #667eea;
    outline: none;
    background: #fff;
}

/* Botón */
.login-container button {
    width: 100%;
    background: #667eea;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.login-container button:hover {
    background: #764ba2;
}

/* Mensajes de error */
.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.title-container h1 {
    margin-left: -50px; /* Ajusta el valor según necesites */
}

.toast {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    z-index: 1000;
}

/* Responsive */
@media (max-width: 480px) {
    .login-container {
        padding: 20px;
    }
    
    .title-container h1 {
        font-size: 28px;
    }

    .login-container h2 {
        font-size: 18px;
    }

    .login-container input, .login-container button {
        font-size: 14px;
        padding: 10px;
    }
}
